!!! Strict

%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= "#{page.title} | tink! it's all about IT"
    %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "author", :content => "tink!" }
    %meta{ :name => "description", :content => "tink! it's all about IT" }
    %meta{ :name => "keywords", :content => "tink training products software development agile ágil desenvolvimento produtos treinamento consultoria" }
    %meta{ :property => "fb:page_id" :content => "171295729567683" }
    - %w(reset text 960 style).each do |css_file|
      = css_tag("#{css_file}.css")
  %body
    #wrap
      #header
        .container_20
          .grid_4.alpha
            %a(href='/')
              %img(src='/images/tink-logo-t.png' id='logo')
          .grid_16.omega
            %ul.menu.horizontal
              %li
                - site.posts.each do |post|
                  %li{ :class => "#{'current' if(page.title == post.title)}" }
                    %a{ :href => post.url }= post.title
      .clear
      #content
        .container_20
          = content
        .clear
    #footer
      .container_20
        .grid_20.margeado
          .corp contato@tink.com.br
          .corp @tinkcorp
          .corp +55 84 8855 0250
          .corp Av. Ayrton Senna, 2349 LJ 06 - Nova Parnamirim - 59151-610 - Brasil

    %script{ :type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" }
    %script{ :src => "js/theme.js", :type => 'text/javascript'}

